In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

## 2020 지하철 1~8호선 데이터 정리

In [15]:
df20_1_8 = pd.read_csv('./data/서울교통공사_1-8호선 역별 일별 시간대별 하차인원 정리.csv', encoding='cp949')
df20_1_8.head(5)

,날짜,호선,역번호,역명,구분,6시이전,6시-7시,7시-8시,8시-9시,9시-10시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
0,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2308,2286,2354,2261,1922,1696,1620,1181,768,503
1,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,1021,885,783,849,602,435,293,273,174,175
2,2020-01-01,1호선,152,종각,하차,71,191,295,511,855,...,1439,1610,1450,1352,1132,725,545,344,225,171
3,2020-01-01,1호선,153,종로3가,하차,53,147,190,363,594,...,1941,1578,1129,928,637,448,320,232,230,233
4,2020-01-01,1호선,154,종로5가,하차,22,124,170,240,403,...,1249,1214,1099,1006,605,397,264,190,136,116

In [16]:
df20_1_8.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '6시이전', '6시-7시', '7시-8시', '8시-9시',
       '9시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시',
       '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시',
       '21시-22시', '22시-23시', '23시이후'],
      dtype='object')

In [17]:
df20_1_8.insert(5, '00-11', df20_1_8['6시이전'] + df20_1_8['6시-7시'] + df20_1_8['7시-8시'] + df20_1_8['8시-9시'] + df20_1_8['9시-10시'] + df20_1_8['10시-11시'])
df20_1_8.drop(['6시이전', '6시-7시', '7시-8시', '8시-9시', '9시-10시', '10시-11시'], axis=1, inplace=True)

In [18]:
df20_1_8.head(5)

,날짜,호선,역번호,역명,구분,00-11,11시-12시,12시-13시,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
0,2020-01-01,1호선,150,서울역,하차,6407,2047,2484,2248,2308,2286,2354,2261,1922,1696,1620,1181,768,503
1,2020-01-01,1호선,151,시청,하차,2431,822,948,917,1021,885,783,849,602,435,293,273,174,175
2,2020-01-01,1호선,152,종각,하차,2949,1323,1510,1626,1439,1610,1450,1352,1132,725,545,344,225,171
3,2020-01-01,1호선,153,종로3가,하차,2299,1515,1786,2084,1941,1578,1129,928,637,448,320,232,230,233
4,2020-01-01,1호선,154,종로5가,하차,1554,994,1557,1616,1249,1214,1099,1006,605,397,264,190,136,116

In [19]:
df20_1_8.insert(6, '11-17', df20_1_8['11시-12시'] + df20_1_8['12시-13시'] + df20_1_8['13시-14시'] + df20_1_8['14시-15시'] + df20_1_8['15시-16시'] + df20_1_8['16시-17시'])
df20_1_8.drop(['11시-12시', '12시-13시', '13시-14시', '14시-15시', '15시-16시', '16시-17시'], axis=1, inplace=True)

In [20]:
df20_1_8.head(5)

,날짜,호선,역번호,역명,구분,00-11,11-17,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
0,2020-01-01,1호선,150,서울역,하차,6407,13727,2261,1922,1696,1620,1181,768,503
1,2020-01-01,1호선,151,시청,하차,2431,5376,849,602,435,293,273,174,175
2,2020-01-01,1호선,152,종각,하차,2949,8958,1352,1132,725,545,344,225,171
3,2020-01-01,1호선,153,종로3가,하차,2299,10033,928,637,448,320,232,230,233
4,2020-01-01,1호선,154,종로5가,하차,1554,7729,1006,605,397,264,190,136,116

In [21]:
df20_1_8.insert(7, '17-24', df20_1_8['17시-18시'] + df20_1_8['18시-19시'] + df20_1_8['19시-20시'] + df20_1_8['20시-21시'] + df20_1_8['21시-22시'] + df20_1_8['22시-23시'] + df20_1_8['23시이후'])
df20_1_8.drop(['17시-18시', '18시-19시', '19시-20시', '20시-21시', '21시-22시', '22시-23시', '23시이후'], axis=1, inplace=True)

In [22]:
df20_1_8.head(5)

           날짜   호선  역번호    역명  구분  00-11  11-17  17-24
0  2020-01-01  1호선  150   서울역  하차   6407  13727   9951
1  2020-01-01  1호선  151    시청  하차   2431   5376   2801
2  2020-01-01  1호선  152    종각  하차   2949   8958   4494
3  2020-01-01  1호선  153  종로3가  하차   2299  10033   3028
4  2020-01-01  1호선  154  종로5가  하차   1554   7729   2714

In [23]:
df20_1_8.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '00-11', '11-17', '17-24'], dtype='object')

### 1~8호선까지 시간대별 역 하차인원 합계

In [24]:
subway_sum_by_hour = df20_1_8.groupby('역명')[['00-11', '11-17', '17-24']].sum()
subway_sum_by_hour.head(5)

            00-11    11-17    17-24
역명
가락시장      1821215  1575693  1956953
가산디지털단지   8974158  2130982  1434911
강남       11580031  7754171  6819360
강남구청      3104309  1181833   787805
강동        1489979  1356700  2574240

In [25]:
subway_sum_by_hour.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 가락시장 to 효창공원앞
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   00-11   250 non-null    int64
 1   11-17   250 non-null    int64
 2   17-24   250 non-null    int64
dtypes: int64(3)
memory usage: 7.8+ KB

## ~2020 지하철 9호선(언주-) 데이터 정리~

In [26]:
df20_9 = pd.read_csv('./data/서울교통공사_9호선2-3단계역별일별시간대별승하차인원_20201231.csv', encoding='cp949')
df20_9.head(5)

,날짜,호선,역번호,역명,구분,00~01,01~02,02~03,03~04,04~05,...,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24
0,2020-01-01,9호선,4126,언주,순승차,0,0,0,0,0,...,203,214,198,200,201,156,123,139,101,58
1,2020-01-01,9호선,4126,언주,순하차,5,0,0,0,0,...,152,196,155,241,185,184,195,181,175,110
2,2020-01-02,9호선,4126,언주,순승차,27,0,0,0,0,...,443,530,702,1263,2315,1194,552,522,378,145
3,2020-01-02,9호선,4126,언주,순하차,72,4,0,0,0,...,399,426,370,436,603,460,289,265,202,177
4,2020-01-03,9호선,4126,언주,순승차,45,0,0,0,0,...,534,590,742,1307,2560,1169,599,586,425,203

In [27]:
df20_9.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '00~01', '01~02', '02~03', '03~04',
       '04~05', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11', '11~12',
       '12~13', '13~14', '14~15', '15~16', '16~17', '17~18', '18~19', '19~20',
       '20~21', '21~22', '22~23', '23~24'],
      dtype='object')

In [28]:
df20_9['00-11']=df20_9[['00~01', '01~02', '02~03', '03~04','04~05', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11']].sum(axis=1)
df20_9.drop(['00~01', '01~02', '02~03', '03~04','04~05', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11'], axis=1, inplace=True)

In [29]:
df20_9.head(5)

,날짜,호선,역번호,역명,구분,11~12,12~13,13~14,14~15,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00-11
0,2020-01-01,9호선,4126,언주,순승차,225,377,218,203,214,198,200,201,156,123,139,101,58,845
1,2020-01-01,9호선,4126,언주,순하차,96,157,156,152,196,155,241,185,184,195,181,175,110,610
2,2020-01-02,9호선,4126,언주,순승차,381,342,380,443,530,702,1263,2315,1194,552,522,378,145,1437
3,2020-01-02,9호선,4126,언주,순하차,409,396,462,399,426,370,436,603,460,289,265,202,177,5871
4,2020-01-03,9호선,4126,언주,순승차,404,407,452,534,590,742,1307,2560,1169,599,586,425,203,1541

In [30]:
df20_9['11-17']=df20_9[['11~12','12~13', '13~14', '14~15', '15~16', '16~17']].sum(axis=1)
df20_9.drop(['11~12','12~13', '13~14', '14~15', '15~16', '16~17'], axis=1, inplace=True)
df20_9.head(5)

,날짜,호선,역번호,역명,구분,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00-11,11-17
0,2020-01-01,9호선,4126,언주,순승차,200,201,156,123,139,101,58,845,1435
1,2020-01-01,9호선,4126,언주,순하차,241,185,184,195,181,175,110,610,912
2,2020-01-02,9호선,4126,언주,순승차,1263,2315,1194,552,522,378,145,1437,2778
3,2020-01-02,9호선,4126,언주,순하차,436,603,460,289,265,202,177,5871,2462
4,2020-01-03,9호선,4126,언주,순승차,1307,2560,1169,599,586,425,203,1541,3129

In [31]:
df20_9['17-24']=df20_9[['17~18', '18~19', '19~20','20~21', '21~22', '22~23', '23~24']].sum(axis=1)
df20_9.drop(['17~18', '18~19', '19~20', '20~21', '21~22', '22~23', '23~24'], axis=1, inplace=True)
df20_9.head(5)

           날짜   호선   역번호  역명   구분  00-11  11-17  17-24
0  2020-01-01  9호선  4126  언주  순승차    845   1435    978
1  2020-01-01  9호선  4126  언주  순하차    610    912   1271
2  2020-01-02  9호선  4126  언주  순승차   1437   2778   6369
3  2020-01-02  9호선  4126  언주  순하차   5871   2462   2432
4  2020-01-03  9호선  4126  언주  순승차   1541   3129   6849

In [32]:
df20_9 = df20_9[df20_9['구분'] == '순하차']
df20_9.head()

           날짜   호선   역번호  역명   구분  00-11  11-17  17-24
1  2020-01-01  9호선  4126  언주  순하차    610    912   1271
3  2020-01-02  9호선  4126  언주  순하차   5871   2462   2432
5  2020-01-03  9호선  4126  언주  순하차   5887   2712   2804
7  2020-01-04  9호선  4126  언주  순하차   1666   2359   1936
9  2020-01-05  9호선  4126  언주  순하차    877   1465   1352

### ~1-8호선, 9호선 일부 역 합치기~

In [33]:
df20_subway = pd.concat([df20_1_8, df20_9])
df20_subway.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105898 entries, 0 to 12443
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   날짜      105898 non-null  object
 1   호선      105898 non-null  object
 2   역번호     105898 non-null  int64
 3   역명      105898 non-null  object
 4   구분      105898 non-null  object
 5   00-11   105898 non-null  int64
 6   11-17   105898 non-null  int64
 7   17-24   105898 non-null  int64
dtypes: int64(4), object(4)
memory usage: 7.3+ MB

In [34]:
df20_subway.head()

           날짜   호선  역번호    역명  구분  00-11  11-17  17-24
0  2020-01-01  1호선  150   서울역  하차   6407  13727   9951
1  2020-01-01  1호선  151    시청  하차   2431   5376   2801
2  2020-01-01  1호선  152    종각  하차   2949   8958   4494
3  2020-01-01  1호선  153  종로3가  하차   2299  10033   3028
4  2020-01-01  1호선  154  종로5가  하차   1554   7729   2714

In [35]:
df20_subway['역명'].unique()

array(['서울역', '시청', '종각', '종로3가', '종로5가', '동대문', '신설동', '제기동',
       '청량리(서울시립대입구)', '동묘앞', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원(DDP)',
       '신당', '상왕십리', '왕십리(성동구청)', '한양대', '뚝섬', '성수', '건대입구', '구의(광진구청)',
       '강변(동서울터미널)', '잠실나루', '잠실(송파구청)', '잠실새내', '종합운동장', '삼성(무역센터)',
       '선릉', '역삼', '강남', '교대(법원.검찰청)', '서초', '방배', '사당', '낙성대(강감찬)',
       '서울대입구(관악구청)', '봉천', '신림', '신대방', '구로디지털단지', '대림(구로구청)', '신도림',
       '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현', '충정로(경기대입구)',
       '용답', '신답', '도림천', '양천구청', '신정네거리', '용두(동대문구청)', '지축', '구파발',
       '연신내', '불광', '녹번', '홍제', '무악재', '독립문', '경복궁(정부서울청사)', '안국', '동대입구',
       '약수', '금호', '옥수', '압구정', '신사', '잠원', '고속터미널', '남부터미널(예술의전당)',
       '양재(서초구청)', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서', '가락시장',
       '경찰병원', '오금', '당고개', '상계', '노원', '창동', '쌍문', '수유(강북구청)',
       '미아(서울사이버대학)', '미아사거리', '길음', '성신여대입구(돈암)', '한성대입구(삼선교)', '혜화',
       '충무로', '명동', '회현(남대문시장)', '숙대입구(갈월)', '삼각지', '신용산', '이촌(국립중앙박물관)',
       '동작(현충원)', '총신대입구(이수)', '남태령', '방화', '개화산', '김포공항', '송정', '마곡',
       '발산', '우장산', '화곡', '까치산', '신정(은행정)', '목동', '오목교(목동운동장앞)', '양평',
       '영등포시장', '신길', '여의도', '여의나루', '마포', '공덕', '애오개', '서대문',
       '광화문(세종문화회관)', '청구', '신금호', '행당', '마장', '답십리', '장한평', '군자(능동)',
       '아차산(어린이대공원후문)', '광나루(장신대)', '천호(풍납토성)', '강동', '길동',
       '굽은다리(강동구민회관앞)', '명일', '고덕', '상일동', '둔촌동', '올림픽공원(한국체대)', '방이',
       '개롱', '거여', '마천', '응암', '역촌', '독바위', '구산', '새절(신사)', '증산(명지대앞)',
       '디지털미디어시티', '월드컵경기장(성산)', '마포구청', '망원', '상수', '광흥창(서강)',
       '대흥(서강대앞)', '효창공원앞', '녹사평(용산구청)', '이태원', '한강진', '버티고개', '창신', '보문',
       '안암(고대병원앞)', '고려대(종암)', '월곡(동덕여대)', '상월곡(한국과학기술연구원)', '돌곶이', '석계',
       '태릉입구', '화랑대(서울여대입구)', '봉화산(서울의료원)', '장암', '도봉산', '수락산', '마들',
       '중계', '하계', '공릉(서울과학기술대)', '먹골', '중화', '상봉(시외버스터미널)', '면목', '사가정',
       '용마산', '중곡', '어린이대공원(세종대)', '뚝섬유원지', '청담', '강남구청', '학동', '논현',
       '반포', '내방', '이수', '남성', '숭실대입구(살피재)', '상도', '장승배기', '신대방삼거리',
       '보라매', '신풍', '남구로', '가산디지털단지', '철산', '광명사거리', '천왕', '온수(성공회대입구)',
       '까치울', '부천종합운동장', '춘의', '신중동', '부천시청', '상동', '삼산체육관', '굴포천',
       '부평구청', '암사', '강동구청', '몽촌토성(평화의문)', '석촌', '송파', '문정', '장지', '복정',
       '산성', '남한산성입구(성남법원.검찰청)', '단대오거리', '신흥', '수진', '모란', '신내',
       '아차산(어린이대공원후문', '굽은다리(강동구민회관앞', '상월곡(한국과학기술연구', '용마산(용마폭포공원)',
       '남한산성입구(성남법원.검', '하남풍산', '미사', '언주', '선정릉', '삼성중앙', '봉은사', '삼전',
       '석촌고분', '송파나루', '한성백제', '올림픽공원', '둔촌오륜', '중앙보훈병원'], dtype=object)

### 1~8호선 데이터 중복 역 수정

In [36]:
df20_1_8.head()

           날짜   호선  역번호    역명  구분  00-11  11-17  17-24
0  2020-01-01  1호선  150   서울역  하차   6407  13727   9951
1  2020-01-01  1호선  151    시청  하차   2431   5376   2801
2  2020-01-01  1호선  152    종각  하차   2949   8958   4494
3  2020-01-01  1호선  153  종로3가  하차   2299  10033   3028
4  2020-01-01  1호선  154  종로5가  하차   1554   7729   2714

In [37]:
df20_1_8['역명'].sort_values().unique()

array(['가락시장', '가산디지털단지', '강남', '강남구청', '강동', '강동구청', '강변(동서울터미널)', '개롱',
       '개화산', '거여', '건대입구', '경복궁(정부서울청사)', '경찰병원', '고덕', '고려대(종암)',
       '고속터미널', '공덕', '공릉(서울과학기술대)', '광나루(장신대)', '광명사거리', '광화문(세종문화회관)',
       '광흥창(서강)', '교대(법원.검찰청)', '구로디지털단지', '구산', '구의(광진구청)', '구파발',
       '군자(능동)', '굴포천', '굽은다리(강동구민회관앞', '굽은다리(강동구민회관앞)', '금호', '길동', '길음',
       '김포공항', '까치산', '까치울', '낙성대(강감찬)', '남구로', '남부터미널(예술의전당)', '남성',
       '남태령', '남한산성입구(성남법원.검', '남한산성입구(성남법원.검찰청)', '내방', '노원', '녹번',
       '녹사평(용산구청)', '논현', '단대오거리', '답십리', '당고개', '당산', '대림(구로구청)', '대청',
       '대치', '대흥(서강대앞)', '도곡', '도림천', '도봉산', '독립문', '독바위', '돌곶이', '동대문',
       '동대문역사문화공원(DDP)', '동대입구', '동묘앞', '동작(현충원)', '둔촌동', '디지털미디어시티',
       '뚝섬', '뚝섬유원지', '마곡', '마들', '마장', '마천', '마포', '마포구청', '망원', '매봉',
       '먹골', '면목', '명동', '명일', '모란', '목동', '몽촌토성(평화의문)', '무악재', '문래',
       '문정', '미사', '미아(서울사이버대학)', '미아사거리', '반포', '발산', '방배', '방이', '방화',
       '버티고개', '보라매', '보문', '복정', '봉천', '봉화산(서울의료원)', '부천시청', '부천종합운동장',
       '부평구청', '불광', '사가정', '사당', '산성', '삼각지', '삼산체육관', '삼성(무역센터)', '상계',
       '상도', '상동', '상봉(시외버스터미널)', '상수', '상왕십리', '상월곡(한국과학기술연구',
       '상월곡(한국과학기술연구원)', '상일동', '새절(신사)', '서대문', '서울대입구(관악구청)', '서울역',
       '서초', '석계', '석촌', '선릉', '성수', '성신여대입구(돈암)', '송정', '송파', '수락산',
       '수서', '수유(강북구청)', '수진', '숙대입구(갈월)', '숭실대입구(살피재)', '시청', '신금호',
       '신길', '신내', '신답', '신당', '신대방', '신대방삼거리', '신도림', '신림', '신사', '신설동',
       '신용산', '신정(은행정)', '신정네거리', '신중동', '신촌', '신풍', '신흥', '쌍문',
       '아차산(어린이대공원후문', '아차산(어린이대공원후문)', '아현', '안국', '안암(고대병원앞)', '암사',
       '압구정', '애오개', '약수', '양재(서초구청)', '양천구청', '양평', '어린이대공원(세종대)',
       '여의나루', '여의도', '역삼', '역촌', '연신내', '영등포구청', '영등포시장', '오금',
       '오목교(목동운동장앞)', '옥수', '온수(성공회대입구)', '올림픽공원(한국체대)', '왕십리(성동구청)',
       '용답', '용두(동대문구청)', '용마산', '용마산(용마폭포공원)', '우장산', '월곡(동덕여대)',
       '월드컵경기장(성산)', '을지로3가', '을지로4가', '을지로입구', '응암', '이대', '이수',
       '이촌(국립중앙박물관)', '이태원', '일원', '잠실(송파구청)', '잠실나루', '잠실새내', '잠원',
       '장승배기', '장암', '장지', '장한평', '제기동', '종각', '종로3가', '종로5가', '종합운동장',
       '중계', '중곡', '중화', '증산(명지대앞)', '지축', '창동', '창신', '천왕', '천호(풍납토성)',
       '철산', '청구', '청담', '청량리(서울시립대입구)', '총신대입구(이수)', '춘의', '충무로',
       '충정로(경기대입구)', '태릉입구', '하계', '하남풍산', '학동', '학여울', '한강진',
       '한성대입구(삼선교)', '한양대', '합정', '행당', '혜화', '홍대입구', '홍제', '화곡',
       '화랑대(서울여대입구)', '회현(남대문시장)', '효창공원앞'], dtype=object)

In [38]:
df20_1_8.loc[(df20_1_8['역명'] == '총신대입구(이수)'), '역명'] = '이수'

In [39]:
df20_1_8['역명'].sort_values().unique()

array(['가락시장', '가산디지털단지', '강남', '강남구청', '강동', '강동구청', '강변(동서울터미널)', '개롱',
       '개화산', '거여', '건대입구', '경복궁(정부서울청사)', '경찰병원', '고덕', '고려대(종암)',
       '고속터미널', '공덕', '공릉(서울과학기술대)', '광나루(장신대)', '광명사거리', '광화문(세종문화회관)',
       '광흥창(서강)', '교대(법원.검찰청)', '구로디지털단지', '구산', '구의(광진구청)', '구파발',
       '군자(능동)', '굴포천', '굽은다리(강동구민회관앞)', '금호', '길동', '길음', '김포공항', '까치산',
       '까치울', '낙성대(강감찬)', '남구로', '남부터미널(예술의전당)', '남성', '남태령',
       '남한산성입구(성남법원.검', '남한산성입구(성남법원.검찰청)', '내방', '노원', '녹번', '녹사평(용산구청)',
       '논현', '단대오거리', '답십리', '당고개', '당산', '대림(구로구청)', '대청', '대치',
       '대흥(서강대앞)', '도곡', '도림천', '도봉산', '독립문', '독바위', '돌곶이', '동대문',
       '동대문역사문화공원(DDP)', '동대입구', '동묘앞', '동작(현충원)', '둔촌동', '디지털미디어시티',
       '뚝섬', '뚝섬유원지', '마곡', '마들', '마장', '마천', '마포', '마포구청', '망원', '매봉',
       '먹골', '면목', '명동', '명일', '모란', '목동', '몽촌토성(평화의문)', '무악재', '문래',
       '문정', '미사', '미아(서울사이버대학)', '미아사거리', '반포', '발산', '방배', '방이', '방화',
       '버티고개', '보라매', '보문', '복정', '봉천', '봉화산(서울의료원)', '부천시청', '부천종합운동장',
       '부평구청', '불광', '사가정', '사당', '산성', '삼각지', '삼산체육관', '삼성(무역센터)', '상계',
       '상도', '상동', '상봉(시외버스터미널)', '상수', '상왕십리', '상월곡(한국과학기술연구',
       '상월곡(한국과학기술연구원)', '상일동', '새절(신사)', '서대문', '서울대입구(관악구청)', '서울역',
       '서초', '석계', '석촌', '선릉', '성수', '성신여대입구(돈암)', '송정', '송파', '수락산',
       '수서', '수유(강북구청)', '수진', '숙대입구(갈월)', '숭실대입구(살피재)', '시청', '신금호',
       '신길', '신내', '신답', '신당', '신대방', '신대방삼거리', '신도림', '신림', '신사', '신설동',
       '신용산', '신정(은행정)', '신정네거리', '신중동', '신촌', '신풍', '신흥', '쌍문',
       '아차산(어린이대공원후문', '아차산(어린이대공원후문)', '아현', '안국', '안암(고대병원앞)', '암사',
       '압구정', '애오개', '약수', '양재(서초구청)', '양천구청', '양평', '어린이대공원(세종대)',
       '여의나루', '여의도', '역삼', '역촌', '연신내', '영등포구청', '영등포시장', '오금',
       '오목교(목동운동장앞)', '옥수', '온수(성공회대입구)', '올림픽공원(한국체대)', '왕십리(성동구청)',
       '용답', '용두(동대문구청)', '용마산', '용마산(용마폭포공원)', '우장산', '월곡(동덕여대)',
       '월드컵경기장(성산)', '을지로3가', '을지로4가', '을지로입구', '응암', '이대', '이수',
       '이촌(국립중앙박물관)', '이태원', '일원', '잠실(송파구청)', '잠실나루', '잠실새내', '잠원',
       '장승배기', '장암', '장지', '장한평', '제기동', '종각', '종로3가', '종로5가', '종합운동장',
       '중계', '중곡', '중화', '증산(명지대앞)', '지축', '창동', '창신', '천왕', '천호(풍납토성)',
       '철산', '청구', '청담', '청량리(서울시립대입구)', '춘의', '충무로', '충정로(경기대입구)',
       '태릉입구', '하계', '하남풍산', '학동', '학여울', '한강진', '한성대입구(삼선교)', '한양대',
       '합정', '행당', '혜화', '홍대입구', '홍제', '화곡', '화랑대(서울여대입구)', '회현(남대문시장)',
       '효창공원앞'], dtype=object)

In [40]:
df20_1_8.to_csv('./2020년도_1~8호선_지하철데이터_시간대별.csv', encoding='cp949')