### 매출데이터['상권_코드_명'] --> 지하철데이터['역명']

In [1]:
import pandas as pd
df = pd.read_csv('./2020_매출데이터_상권코드명_지하철역_모든업종.csv', encoding='cp949')
df

      상권_코드_명
0    4.19민주묘지
1        가락시장
2     가산디지털단지
3          가양
4         가오리
..        ...
249        화곡
250       화랑대
251        회기
252        회현
253     효창공원앞

[254 rows x 1 columns]

In [2]:
df[df['상권_코드_명'] == '역삼']

    상권_코드_명
183      역삼

In [3]:
df2 = pd.read_csv('./2020_지하철역하차인원_연도_월_일_분기_요일별.csv', encoding='cp949')
df2.head()

,Unnamed: 0,날짜,호선,역번호,역명,구분,00-11,11-17,17-24,년,월,일,분기,요일
0,0,2020-01-01,1호선,150,서울역,하차,6407,13727,9951,2020,1,1,1,수
1,1,2020-01-01,1호선,151,시청,하차,2431,5376,2801,2020,1,1,1,수
2,2,2020-01-01,1호선,152,종각,하차,2949,8958,4494,2020,1,1,1,수
3,3,2020-01-01,1호선,153,종로3가,하차,2299,10033,3028,2020,1,1,1,수
4,4,2020-01-01,1호선,154,종로5가,하차,1554,7729,2714,2020,1,1,1,수

#### 1) 혼자 '역' 붙어 있는 서울역에서 역 제거

In [4]:
df2.replace({'역명':'서울역'}, {'역명':'서울'}, inplace=True)
df2

,Unnamed: 0,날짜,호선,역번호,역명,구분,00-11,11-17,17-24,년,월,일,분기,요일
0,0,2020-01-01,1호선,150,서울,하차,6407,13727,9951,2020,1,1,1,수
1,1,2020-01-01,1호선,151,시청,하차,2431,5376,2801,2020,1,1,1,수
2,2,2020-01-01,1호선,152,종각,하차,2949,8958,4494,2020,1,1,1,수
3,3,2020-01-01,1호선,153,종로3가,하차,2299,10033,3028,2020,1,1,1,수
4,4,2020-01-01,1호선,154,종로5가,하차,1554,7729,2714,2020,1,1,1,수
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101135,101135,2020-12-31,8호선,2823,남한산성입구(성남법원.검찰청),하차,1672,2882,4378,2020,12,31,4,목
101136,101136,2020-12-31,8호선,2824,단대오거리,하차,1560,2346,3529,2020,12,31,4,목
101137,101137,2020-12-31,8호선,2825,신흥,하차,725,1519,1676,2020,12,31,4,목
101138,101138,2020-12-31,8호선,2826,수진,하차,760,1420,1574,2020,12,31,4,목
101139,101139,2020-12-31,8호선,2827,모란,하차,617,978,810,2020,12,31,4,목

#### 2) 필터링하기 위해 괄호 붙은 거 제거

In [5]:
df2['역명'] = df2['역명'].str.split('\(').str[0]
df2

,Unnamed: 0,날짜,호선,역번호,역명,구분,00-11,11-17,17-24,년,월,일,분기,요일
0,0,2020-01-01,1호선,150,서울,하차,6407,13727,9951,2020,1,1,1,수
1,1,2020-01-01,1호선,151,시청,하차,2431,5376,2801,2020,1,1,1,수
2,2,2020-01-01,1호선,152,종각,하차,2949,8958,4494,2020,1,1,1,수
3,3,2020-01-01,1호선,153,종로3가,하차,2299,10033,3028,2020,1,1,1,수
4,4,2020-01-01,1호선,154,종로5가,하차,1554,7729,2714,2020,1,1,1,수
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101135,101135,2020-12-31,8호선,2823,남한산성입구,하차,1672,2882,4378,2020,12,31,4,목
101136,101136,2020-12-31,8호선,2824,단대오거리,하차,1560,2346,3529,2020,12,31,4,목
101137,101137,2020-12-31,8호선,2825,신흥,하차,725,1519,1676,2020,12,31,4,목
101138,101138,2020-12-31,8호선,2826,수진,하차,760,1420,1574,2020,12,31,4,목
101139,101139,2020-12-31,8호선,2827,모란,하차,617,978,810,2020,12,31,4,목

#### 필터링하기 전에 변수로 지정해서 필터링한 후 결과랑 비교

In [6]:
before_filter = df2['역명'].sort_values().unique()
before_filter

array(['가락시장', '가산디지털단지', '강남', '강남구청', '강동', '강동구청', '강변', '개롱', '개화산',
       '거여', '건대입구', '경복궁', '경찰병원', '고덕', '고려대', '고속터미널', '공덕', '공릉',
       '광나루', '광명사거리', '광화문', '광흥창', '교대', '구로디지털단지', '구산', '구의', '구파발',
       '군자', '굴포천', '굽은다리', '금호', '길동', '길음', '김포공항', '까치산', '까치울', '낙성대',
       '남구로', '남부터미널', '남성', '남태령', '남한산성입구', '내방', '노원', '녹번', '녹사평',
       '논현', '단대오거리', '답십리', '당고개', '당산', '대림', '대청', '대치', '대흥', '도곡',
       '도림천', '도봉산', '독립문', '독바위', '돌곶이', '동대문', '동대문역사문화공원', '동대입구',
       '동묘앞', '동작', '둔촌동', '디지털미디어시티', '뚝섬', '뚝섬유원지', '마곡', '마들', '마장',
       '마천', '마포', '마포구청', '망원', '매봉', '먹골', '면목', '명동', '명일', '모란', '목동',
       '몽촌토성', '무악재', '문래', '문정', '미사', '미아', '미아사거리', '반포', '발산', '방배',
       '방이', '방화', '버티고개', '보라매', '보문', '복정', '봉천', '봉화산', '부천시청',
       '부천종합운동장', '부평구청', '불광', '사가정', '사당', '산성', '삼각지', '삼산체육관', '삼성',
       '상계', '상도', '상동', '상봉', '상수', '상왕십리', '상월곡', '상일동', '새절', '서대문',
       '서울', '서울대입구', '서초', '석계', '석촌', '선릉', '성수', '성신여대입구', '송정', '송파',
       '수락산', '수서', '수유', '수진', '숙대입구', '숭실대입구', '시청', '신금호', '신길', '신내',
       '신답', '신당', '신대방', '신대방삼거리', '신도림', '신림', '신사', '신설동', '신용산', '신정',
       '신정네거리', '신중동', '신촌', '신풍', '신흥', '쌍문', '아차산', '아현', '안국', '안암',
       '암사', '압구정', '애오개', '약수', '양재', '양천구청', '양평', '어린이대공원', '여의나루',
       '여의도', '역삼', '역촌', '연신내', '영등포구청', '영등포시장', '오금', '오목교', '옥수',
       '온수', '올림픽공원', '왕십리', '용답', '용두', '용마산', '우장산', '월곡', '월드컵경기장',
       '을지로3가', '을지로4가', '을지로입구', '응암', '이대', '이수', '이촌', '이태원', '일원',
       '잠실', '잠실나루', '잠실새내', '잠원', '장승배기', '장암', '장지', '장한평', '제기동', '종각',
       '종로3가', '종로5가', '종합운동장', '중계', '중곡', '중화', '증산', '지축', '창동', '창신',
       '천왕', '천호', '철산', '청구', '청담', '청량리', '춘의', '충무로', '충정로', '태릉입구',
       '하계', '하남풍산', '학동', '학여울', '한강진', '한성대입구', '한양대', '합정', '행당', '혜화',
       '홍대입구', '홍제', '화곡', '화랑대', '회현', '효창공원앞'], dtype=object)

In [7]:
df2['역명'].nunique()

244

### 매출데이터의 '상권_코드_명' 컬럼으로 지하철데이터 필터링

In [8]:
df2 = df2[df2['역명'].isin(df['상권_코드_명'])]
df2

,Unnamed: 0,날짜,호선,역번호,역명,구분,00-11,11-17,17-24,년,월,일,분기,요일
0,0,2020-01-01,1호선,150,서울,하차,6407,13727,9951,2020,1,1,1,수
1,1,2020-01-01,1호선,151,시청,하차,2431,5376,2801,2020,1,1,1,수
2,2,2020-01-01,1호선,152,종각,하차,2949,8958,4494,2020,1,1,1,수
3,3,2020-01-01,1호선,153,종로3가,하차,2299,10033,3028,2020,1,1,1,수
4,4,2020-01-01,1호선,154,종로5가,하차,1554,7729,2714,2020,1,1,1,수
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101128,101128,2020-12-31,8호선,2816,석촌,하차,1734,2211,2401,2020,12,31,4,목
101129,101129,2020-12-31,8호선,2817,송파,하차,1462,1879,2526,2020,12,31,4,목
101130,101130,2020-12-31,8호선,2818,가락시장,하차,2551,2308,1738,2020,12,31,4,목
101131,101131,2020-12-31,8호선,2819,문정,하차,8885,2878,2555,2020,12,31,4,목
101132,101132,2020-12-31,8호선,2820,장지,하차,3965,3879,4239,2020,12,31,4,목

In [9]:
after_filter = df2['역명'].sort_values().unique()
after_filter

array(['가락시장', '가산디지털단지', '강남', '강남구청', '강동', '강동구청', '강변', '개롱', '개화산',
       '거여', '건대입구', '경복궁', '경찰병원', '고덕', '고려대', '고속터미널', '공덕', '공릉',
       '광나루', '광화문', '광흥창', '교대', '구로디지털단지', '구산', '구의', '구파발', '군자',
       '굽은다리', '금호', '길동', '길음', '김포공항', '까치산', '낙성대', '남구로', '남부터미널',
       '남성', '남태령', '내방', '노원', '논현', '답십리', '당고개', '당산', '대림', '대치',
       '대흥', '도봉산', '독립문', '돌곶이', '동대문', '동대문역사문화공원', '동묘앞', '둔촌동',
       '디지털미디어시티', '뚝섬', '뚝섬유원지', '마곡', '마들', '마장', '마천', '마포', '마포구청',
       '망원', '매봉', '먹골', '면목', '명동', '명일', '목동', '몽촌토성', '문래', '문정', '미아',
       '미아사거리', '발산', '방배', '방이', '방화', '버티고개', '보라매', '보문', '봉천', '불광',
       '사가정', '사당', '삼각지', '삼성', '상계', '상도', '상봉', '상수', '상왕십리', '상월곡',
       '새절', '서대문', '서울', '서울대입구', '서초', '석계', '석촌', '선릉', '성수', '성신여대입구',
       '송정', '송파', '수락산', '수서', '수유', '숙대입구', '숭실대입구', '시청', '신금호', '신길',
       '신내', '신당', '신대방', '신대방삼거리', '신도림', '신림', '신사', '신설동', '신용산', '신정',
       '신정네거리', '신촌', '신풍', '쌍문', '아차산', '아현', '안국', '안암', '암사', '압구정',
       '애오개', '약수', '양재', '양평', '어린이대공원', '여의도', '역삼', '역촌', '연신내',
       '영등포구청', '영등포시장', '오금', '오목교', '옥수', '온수', '왕십리', '우장산', '월곡',
       '월드컵경기장', '을지로3가', '을지로4가', '을지로입구', '응암', '이대', '이수', '이태원', '잠실',
       '잠실나루', '잠실새내', '잠원', '장승배기', '장지', '장한평', '제기동', '종각', '종로3가',
       '종로5가', '중곡', '중화', '증산', '창동', '창신', '천왕', '천호', '청구', '청담',
       '청량리', '충무로', '충정로', '태릉입구', '학동', '한강진', '한성대입구', '한양대', '합정',
       '행당', '혜화', '홍대입구', '홍제', '화곡', '화랑대', '회현', '효창공원앞'], dtype=object)

In [10]:
df2['역명'].nunique()

197

In [11]:
before_filter_df = pd.DataFrame(before_filter, columns=['역명'])
before_filter_df

          역명
0       가락시장
1    가산디지털단지
2         강남
3       강남구청
4         강동
..       ...
239       홍제
240       화곡
241      화랑대
242       회현
243    효창공원앞

[244 rows x 1 columns]

In [12]:
after_filter_df = pd.DataFrame(after_filter, columns=['역명'])
after_filter_df

          역명
0       가락시장
1    가산디지털단지
2         강남
3       강남구청
4         강동
..       ...
192       홍제
193       화곡
194      화랑대
195       회현
196    효창공원앞

[197 rows x 1 columns]

#### 지하철데이터에서 버려진 것들

In [13]:
before_filter_df[before_filter_df['역명'].isin(after_filter_df['역명'])==False]

          역명
19     광명사거리
28       굴포천
35       까치울
41    남한산성입구
44        녹번
45       녹사평
47     단대오거리
52        대청
55        도곡
56       도림천
59       독바위
63      동대입구
65        동작
82        모란
85       무악재
88        미사
91        반포
99        복정
101      봉화산
102     부천시청
103  부천종합운동장
104     부평구청
108       산성
110    삼산체육관
114       상동
119      상일동
135       수진
142       신답
153      신중동
156       신흥
167     양천구청
170     여의나루
181    올림픽공원
183       용답
184       용두
185      용마산
195       이촌
197       일원
203       장암
210    종합운동장
211       중계
215       지축
220       철산
224       춘의
228       하계
229     하남풍산
231      학여울

### 지하철데이터에서 버려진 것들 중 매출데이터에 있는데 포함안된 것들 골라내기
#### ex. 매출데이터에서 역 표시 안된 것들

In [14]:
'''
주의할 것들:

'DMC(디지털미디어시티)', '버티고개', '동대문역사문화공원', '역삼', '역촌'
'''

"\n주의할 것들:\n\n'DMC(디지털미디어시티)', '버티고개', '동대문역사문화공원', '역삼', '역촌'\n"

In [15]:
df2.to_csv('./2020_지하철역하차인원_연도_월_일_분기_요일별_매칭완(모든업종).csv', encoding='cp949', index=False)

In [16]:
df2['역명'].nunique()

197